<p>Bonjour,</p>

<p>Vous avez une nouvelle demande de participation à une visite en tant que visiteur. Connectez-vous à votre compte pour l'accepter ou la refuser.</p>

<p>
    Cordialement, <br>
    L'équipe de Voyo
</p>
