<p>Bonjour,</p>

<p>Pour réinitialiser votre mot de passe, veuillez utiliser cette clé temporaire : {{ resetKey }} </p>

<p>Cette clé expire dans 1 heure.</p>

<p>
    Cordialement, <br>
    L'équipe de Voyo
</p>
